<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>DevRel Diaries</title>
  <meta name="description" content="The chronicles of a freshly minted Developer Advocate on her DevRel journey">
  <meta name="author" content="Chen Hui Jing">

  <link rel="stylesheet" href="/assets/css/styles.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicons/site.webmanifest">
  <meta name="msapplication-TileColor" content="#00a300">
  <meta name="theme-color" content="#ffffff">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <main>
    {% include 'site-title.njk' %}
    {{ content | safe }}
  </main>

  <footer class="site-footer">
    <p>Words, design and code, Chen Hui Jing. <a href="attributions">Attributions</a></p>
  </footer>
  
  <script src="/assets/js/scripts.js"></script>
</body>

</html>
