---
layout: base.njk
css: post
---
<header>
  <a href="/"><img class="home-link" src="/assets/img/home.svg"alt="Home"></a>
  <div class="heading">
    <h1>{{ title }}</h1>
    <small class="post-date">{{ date | dateFormat }}</small>
  </div>
</header>

<main>
  <article>{{ content | safe }}</article>
</main>