@font-face {
  font-family: 'Vision';
  src: url('../fonts/vision.woff2') format('woff2'),
       url('../fonts/vision.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vision';
  src: url('../fonts/vision-regular_italic.woff2') format('woff2'),
       url('../fonts/vision-regular_italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Vision';
  src: url('../fonts/vision-bold.woff2') format('woff2'),
       url('../fonts/vision-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

$main-accent: #4a7205;
$dark-link: #3454d1;
$light-link: #efefef;
$background: #fbfef7;
$secondary-accent: #34d1bf;

body {
  background-image: url('../img/bg.jpg');
  background-size: 25%;
  font-family: 'Vision', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: calc(1em + 0.5vw);
}

a {
  color: $dark-link;
  transition: color 0.5s ease;
  text-decoration: none;
  border-bottom: 1px dotted currentColor;

  &:hover {
    color: darken($dark-link, 10%)
  }
}

ul {
  list-style: none;
}

li {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 1em;

  h1 {
    flex: 1;
    text-align: center;
  }

  a {
    border-bottom: 0;
  }
}

.home-link {
  height: 3em;
}

main {
  flex: 1;
  padding: 1em;

  h2 {
    display: inline-block;
  }

  p {
    line-height: 1.4;
    margin-bottom: 1em;
  }

  small {
    display: block;
  }
}

footer {
  display: flex;
  margin-top: auto;
  padding: 0.5em;
  background-color: $main-accent;
  color: $light-link;
  font-size: 75%;

  p {
    margin: auto;
  }

  a {
    color: $light-link;

    &:hover {
      color: darken($light-link, 10%)
    }
  }
}

.index,
.attributions {
  text-align: center;
}

.post {
  main {
    background-color: $background;
    max-width: 35em;
    margin: auto;
  }
}