@font-face {
  font-family: 'Vision';
  src: url('../fonts/vision.woff2') format('woff2'),
       url('../fonts/vision.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vision';
  src: url('../fonts/vision-regular_italic.woff2') format('woff2'),
       url('../fonts/vision-regular_italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Vision';
  src: url('../fonts/vision-bold.woff2') format('woff2'),
       url('../fonts/vision-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bungee';
  src: url('../fonts/bungee-shade.woff2') format('woff2'),
       url('../fonts/bungee-shade.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

$main-accent: #4a7205;
$dark-link: #3454d1;
$light-link: #efefef;
$background: #efefef;
$secondary-accent: #34d1bf;

body {
  background-image: url('../img/bg.jpg');
  background-size: 25%;
  font-family: 'Vision', sans-serif;
  height: 100%;

  display: flex;
  flex-direction: column;
}

main {
  flex: 1;

  display: grid;
}

.site-footer {
  display: flex;
  margin-top: auto;
  padding: 0.5em;
  background-color: $main-accent;
  color: $light-link;

  p {
    margin: auto;
  }

  a {
    color: $light-link;
  }
}

a {
  color: $dark-link;
  transition: color 0.5s ease;

  &:hover {
    color: darken($dark-link, 10%)
  }
}